{%- assign collection = link.object %}
<ul class="grid grid-cols-1 lg:grid-cols-12 grid-flow-row-dense megamenu-border">
  {%- for product in collection.products limit: 6 -%}
    <li class="lg:col-span-2 megamenu-image">
      <a href="{{ product.url }}">
        {%- if product.featured_media -%}
          <div class="hover-tilt {% unless crop == '' or crop == blank %}image-wrapper {{ crop }}{% endunless %}">
            {{ product.featured_media | image_url: width: 700 | image_tag: class: 'media-style' }}
          </div>
        {%- endif -%}
        <div class="font-accent mt-2 text-center">
          {{ product.title }}
        </div>
      </a>
    </li>
  {%- endfor -%}
</ul>
<div class="mt-5 text-center">
  
    <a href="{{ collection.url }}" class="inline-block push-btn">
      <span class="push-btn-surface">{{ 'collections.general.all_of_collection' | t: collection: collection.title }}</span>
    </a>
  
</div>