{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Featured Collection" section in the theme editor.

  Theme Store required settings
  - Collection

  Theme Store optional settings
  - Heading: title of the featured collection section
{%- endcomment -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign collection = collections[section.settings.collection]
  if section.settings.image_shape != ''
    assign image_shape = section.settings.image_shape
  else
    assign image_shape = settings.product_tile_media_shape
  endif
-%}
<section class="relative text-scheme-text bg-scheme-background  overflow-hidden {% if section.settings.use_gradient_background %}bg-scheme-gradient{% endif %} overflow-hidden" data-color-scheme="{{ section.settings.color_scheme | default: 'primary' }}" >

  <div class="section-content relative z-10 section-{{ section.id }}-padding {% unless section.settings.layout == 'carousel' %}px-section w-full max-w-site mx-auto{% endunless %}">
    {% if section.settings.title != '' %}
    <h2 class="text-center font-heading heading-effects heading-base heading-style break-words {{ settings.heading_drop_shadow_style }}">{{ section.settings.title }}</h2>
    {% endif %}

    {% if section.settings.subheading != '' %}
    <div class="rte mt-5 text-center mx-auto max-w-md">{{ section.settings.subheading }}</div>
    {%- endif -%}
    
    {%- render 'featured-collection'
      item: section,
      collection: collection,
      image_shape: image_shape
    -%}
    
  </div>

  {%- liquid
    for block in section.blocks
      case block.type
        when 'background_shape'
          render 'block-background-shape' with block: block, section: section
        when 'background_pattern'
          render 'block-background-pattern' with block: block, section: section, scheme: section.settings.color_scheme
      endcase
    endfor
  -%}

</section>

{%- liquid
  assign stickers = section.blocks | where: "type", "sticker" 
  assign shape_dividers = section.blocks | where: "type", "shape_divider" 
  for sticker in stickers
    render 'block-sticker' with block: sticker, section: section
  endfor
  for shape_divider in shape_dividers
    render 'block-shape-divider' with block: shape_divider, section: section
  endfor
-%}

{% schema %}
{
  "name": "Featured collection",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Top Padding",
      "default": 70
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Bottom Padding",
      "default": 70
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "id": "subheading",
      "type": "text",
      "label": "Subheading",
      "default": "Use this text to share information about your collection."
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "no_products",
      "min": 2,
      "max": 18,
      "step": 1,
      "label": "Number of products",
      "default": 4
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": {
        "en": "Show 'View all' link"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_quick_buy",
      "label": "Enable quick buy",
      "info": "If a product only has two variants buttons will be shown. [Learn more](https://help.switchthemes.co/shapes/guides/show-quick-buy.html)"
    },
    {
      "type": "checkbox",
      "id": "display_on_card",
      "label": "Display blocks on cards",
      "default": true
    },
    {
      "type": "radio",
      "id": "layout",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "carousel",
          "label": "Carousel"
        }
      ]
    },
    {
      "type": "header",
      "content": "Grid"
    },
    {
      "type": "paragraph",
      "content": "These settings only apply when layout is set to grid."
    },
    {
      "type": "radio",
      "id": "products_per_row_mobile",
      "label": "Products per row on mobile",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    },
    {
      "type": "range",
      "id": "products_per_row_desktop",
      "min": 2,
      "max": 5,
      "step": 1,
      "label": "Products per row on desktop",
      "default": 4
    },
    {
      "type": "header",
      "content": "Carousel"
    },
    {
      "type": "paragraph",
      "content": "These settings only apply when layout is set to carousel."
    },
    {
      "type": "radio",
      "id": "slideshow_focus",
      "label": "Slideshow focus",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        }
      ],
      "default": "center"
    },
    {
      "type": "radio",
      "id": "mobile_slide_width",
      "label": "Mobile slide width",
      "options": [
        {
          "value": "three_fifths",
          "label": "Three fifths"
        },
        {
          "value": "full_width",
          "label": "Full width"
        }
      ],
      "default": "three_fifths"
    },
    {
      "type": "range",
      "id": "desktop_slide_width",
      "min": 20,
      "max": 60,
      "step": 5,
      "unit": "%",
      "label": "Desktop slide width",
      "default": 40
    },
    {
      "type": "select",
      "id": "autoscroll_mode",
      "label": "Autoscroll mode",
      "options": [
        {
          "value": "1",
          "label": "Right to left"
        },
        {
          "value": "-1",
          "label": "Left to right"
        },
        {
          "value": "0",
          "label": "Disabled"
        }
      ],
      "default": "1"
    },
    {
      "type": "header",
      "content": "Product grid"
    },
    {
      "type": "select",
      "id": "product_tiles_aspect_ratio",
      "label": "Image aspect ratio",
      "options": [
        {
          "value": "",
          "label": "Same as theme settings"
        },
        {
          "value": "natural",
          "label": "Natural"
        },
        {
          "value": "aspect-w-4 aspect-h-3",
          "label": "Landscape"
        },
        {
          "value": "aspect-w-1 aspect-h-1",
          "label": "Square"
        },
        {
          "value": "aspect-w-3 aspect-h-4",
          "label": "Portrait"
        }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "image_shape",
      "label": "Image shape",
      "options": [
        {
          "value": "",
          "label": "Same as theme settings"
        },
        {
          "value": "default",
          "label": "Default",
          "group": "Fit to image"
        },
        {
          "value": "default_ellipse",
          "label": "Ellipse",
          "group": "Fit to image"
        },
        {
          "value": "default_pill",
          "label": "Pill",
          "group": "Fit to image"
        },
        {
          "value": "default_archway",
          "label": "Archway",
          "group": "Fit to image"
        },
        {
          "value": "diamond",
          "label": "Diamond",
          "group": "Basic"
        },
        {
          "value": "triangle_1",
          "label": "Triangle 1",
          "group": "Basic"
        },
        {
          "value": "triangle_2",
          "label": "Triangle 2",
          "group": "Basic"
        },
        {
          "value": "pentagon",
          "label": "Pentagon",
          "group": "Polygons"
        },
        {
          "value": "hexagon",
          "label": "Hexagon",
          "group": "Polygons"
        },
        {
          "value": "heptagon",
          "label": "Heptagon",
          "group": "Polygons"
        },
        {
          "value": "octagon",
          "label": "Octagon",
          "group": "Polygons"
        },
        {
          "value": "rounded_pentagon",
          "label": "Rounded pentagon",
          "group": "Polygons"
        },
        {
          "value": "rounded_hexagon",
          "label": "Rounded hexagon",
          "group": "Polygons"
        },
        {
          "value": "rounded_heptagon",
          "label": "Rounded heptagon",
          "group": "Polygons"
        },
        {
          "value": "rounded_octagon",
          "label": "Rounded octagon",
          "group": "Polygons"
        },
        {
          "value": "star_1",
          "label": "Star 1",
          "group": "Circular"
        },
        {
          "value": "star_2",
          "label": "Star 2",
          "group": "Circular"
        },
        {
          "value": "star_3",
          "label": "Star 3",
          "group": "Circular"
        },
        {
          "value": "star_4",
          "label": "Star 4",
          "group": "Circular"
        },
        {
          "value": "scalloped_circle_1",
          "label": "Scalloped circle 1",
          "group": "Circular"
        },
        {
          "value": "scalloped_circle_2",
          "label": "Scalloped circle 2",
          "group": "Circular"
        },
        {
          "value": "scalloped_circle_3",
          "label": "Scalloped circle 3",
          "group": "Circular"
        },
        {
          "value": "scalloped_circle_4",
          "label": "Scalloped circle 4",
          "group": "Circular"
        },
        {
          "value": "parallelogram",
          "label": "Parallelogram",
          "group": "Square"
        },
        {
          "value": "scalloped_square",
          "label": "Scalloped",
          "group": "Square"
        },
        {
          "value": "leaf",
          "label": "Leaf",
          "group": "Square"
        },
        {
          "value": "clipped_square",
          "label": "Clipped",
          "group": "Square"
        },
        {
          "value": "convex_square",
          "label": "Convex",
          "group": "Square"
        },
        {
          "value": "twisted_square",
          "label": "Twisted",
          "group": "Square"
        },
        {
          "value": "trapeze",
          "label": "Trapeze",
          "group": "Square"
        },
        {
          "value": "blob",
          "label": "Blob",
          "group": "Miscellaneous"
        },
        {
          "value": "zig_zag",
          "label": "Zig zag",
          "group": "Miscellaneous"
        },
        {
          "value": "zig_zag_tear",
          "label": "Zig zag tear",
          "group": "Miscellaneous"
        },
        {
          "value": "wave_tear",
          "label": "Wave tear",
          "group": "Miscellaneous"
        },
        {
          "value": "flower",
          "label": "Flower",
          "group": "Miscellaneous"
        },
        {
          "value": "concave",
          "label": "Concave",
          "group": "Miscellaneous"
        },
        {
          "value": "cross",
          "label": "Cross",
          "group": "Miscellaneous"
        },
        {
          "value": "quatrefoil",
          "label": "Quatrefoil",
          "group": "Miscellaneous"
        },
        {
          "value": "wind",
          "label": "Wind",
          "group": "Miscellaneous"
        },
        {
          "value": "heart",
          "label": "Heart",
          "group": "Miscellaneous"
        },
        {
          "value": "mirrored_pyramids",
          "label": "Mirrored pyramids",
          "group": "Miscellaneous"
        },
        {
          "value": "plus",
          "label": "Plus",
          "group": "Miscellaneous"
        },
        {
          "value": "double_pill",
          "label": "Double pill",
          "group": "Miscellaneous"
        },
        {
          "value": "triple_pill",
          "label": "Triple pill",
          "group": "Miscellaneous"
        },
        {
          "value": "crown",
          "label": "Crown",
          "group": "Miscellaneous"
        },
        {
          "value": "abstract_star",
          "label": "Abstract star",
          "group": "Miscellaneous"
        }
      ],
      "info": "Selecting some shapes will crop the image. [Learn more](https://help.switchthemes.co/shapes/guides/style-images-with-shapes.html)"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        },
        {
          "value": "tertiary",
          "label": "Tertiary"
        },
        {
          "value": "quaternary",
          "label": "Quaternary"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "use_gradient_background",
      "label": "Use gradient for background"
    }
  ],
  "blocks": [
    {
      "name": "Sticker",
      "type": "sticker",
      "settings": [
        {
          "type": "select",
          "id": "shape",
          "label": "Shape",
          "options": [
            {
              "value": "pym_shape_1",
              "label": "Shape 1",
              "group": "PYM Shapes"
            },
            {
              "value": "pym_shape_2",
              "label": "Shape 2",
              "group": "PYM Shapes"
            },
            {
              "value": "pym_shape_3",
              "label": "Shape 3",
              "group": "PYM Shapes"
            },
            {
              "value": "pym_shape_4",
              "label": "Shape 4",
              "group": "PYM Shapes"
            },
            {
              "value": "pym_shape_5",
              "label": "Shape 5",
              "group": "PYM Shapes"
            },
            {
              "value": "pym_shape_6",
              "label": "Shape 6",
              "group": "PYM Shapes"
            },
            {
              "value": "pym_shape_7",
              "label": "Shape 7",
              "group": "PYM Shapes"
            },
            {
              "value": "pym_shape_8",
              "label": "Shape 8",
              "group": "PYM Shapes"
            },
            {
              "value": "pym_shape_9",
              "label": "Shape 9",
              "group": "PYM Shapes"
            }
          ],
          "default": "pym_shape_1"
        },
        {
          "type": "select",
          "id": "color",
          "label": "Color",
          "default": "bg-scheme-accent text-scheme-accent-overlay",
          "options": [
            {
              "value": "bg-scheme-accent text-scheme-accent-overlay",
              "label": "Black"
            },
            {
              "value": "bg-scheme-accent-2 text-scheme-accent-2-overlay",
              "label": "Cosmic Latte"
            },
            {
              "value": "bg-scheme-accent-3 text-scheme-accent-3-overlay",
              "label": "Peach"
            },
            {
              "value": "bg-scheme-accent-4 text-scheme-accent-4-overlay",
              "label": "Peru"
            },
            {
              "value": "bg-scheme-accent-5 text-scheme-accent-5-overlay",
              "label": "Topaz"
            },
            {
              "value": "bg-scheme-accent-6 text-scheme-accent-6-overlay",
              "label": "Columbia Blue"
            },
            {
              "value": "bg-scheme-accent-7 text-scheme-accent-7-overlay",
              "label": "Iceberg"
            },
            {
              "value": "bg-scheme-accent-8 text-scheme-accent-8-overlay",
              "label": "Sage"
            },
            {
              "value": "bg-scheme-accent-9 text-scheme-accent-9-overlay",
              "label": "Olivine"
            },
            {
              "value": "bg-scheme-accent-10 text-scheme-accent-10-overlay",
              "label": "Olive"
            },
            {
              "value": "bg-scheme-accent-11 text-scheme-accent-11-overlay",
              "label": "Pistachio"
            },
            {
              "value": "bg-scheme-accent-12 text-scheme-accent-12-overlay",
              "label": "Matrix"
            },
            {
              "value": "bg-scheme-accent-13 text-scheme-accent-13-overlay",
              "label": "Dark Salmon"
            },
            {
              "value": "bg-scheme-accent-14 text-scheme-accent-14-overlay",
              "label": "Sundown"
            },
            {
              "value": "bg-scheme-accent-15 text-scheme-accent-15-overlay",
              "label": "Sun Burst"
            },
            {
              "value": "bg-scheme-accent-16 text-scheme-accent-16-overlay",
              "label": "Pale Gold"
            },
            {
              "value": "bg-scheme-accent-17 text-scheme-accent-17-overlay",
              "label": "Flavescent"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "sticker_multiply",
          "label": "Blend Multiply",
          "default": false
        },
        {
          "type": "header",
          "content": "Position"
        },
        {
          "type": "range",
          "id": "width",
          "min": 100,
          "max": 1000,
          "step": 10,
          "unit": "px",
          "label": "Sticker width",
          "default": 150
        },
        {
          "type": "range",
          "id": "horizontal_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Horizontal position",
          "default": 80
        },
        {
          "type": "range",
          "id": "vertical_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Vertical position",
          "default": 80
        },
        {
          "type": "range",
          "id": "rotate",
          "min": -90,
          "max": 90,
          "step": 2,
          "unit": "deg",
          "label": "Rotate",
          "default": 0
        },
        {
          "type": "range",
          "id": "sticker_opacity",
          "min": 0.1,
          "max": 1,
          "step": 0.1,
          "label": "Opacity",
          "default": 1
        },
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "checkbox",
          "id": "show_sticker_on_mobile",
          "label": "Show sticker on mobile",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_sticker_on_desktop",
          "label": "Show sticker on desktop",
          "default": true
        },
        {
          "type": "header",
          "content": "Animation"
        },
        {
          "type": "select",
          "id": "rotation_animation",
          "label": "Rotation",
          "options": [
            {
              "value": "none",
              "label": "No rotation"
            },
            {
              "value": "constantly_rotate",
              "label": "Constantly rotate"
            },
            {
              "value": "rotate_when_scrolling",
              "label": "Rotate only when page is scrolling"
            }
          ],
          "default": "none"
        },
        {
          "type": "checkbox",
          "id": "enable_parallax",
          "label": "Enable parallax",
          "default": false,
          "info": "When enabled stickers will scroll faster than the rest of the page."
        },
        {
          "type": "range",
          "id": "parallax_speed",
          "min": 1,
          "max": 10,
          "step": 1,
          "label": "Parallax speed",
          "default": 3
        },
        {
          "type": "header",
          "content": "Custom image"
        },
        {
          "type": "paragraph",
          "content": "Using an image will override shape and text settings above."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "checkbox",
          "id": "half_image_width_on_mobile",
          "label": "Half image width on mobile",
          "default": true
        }
      ]
    },
    {
      "name": "Shape divider",
      "type": "shape_divider",
      "limit": 2,
      "settings": [
        {
          "type": "radio",
          "label": "Target section",
          "id": "target_section",
          "default": "above",
          "options": [
            {
              "value": "above",
              "label": "Section above"
            },
            {
              "value": "below",
              "label": "Section below"
            }
          ],
          "info": "This will be the section that connects to the straight side of the divider. Best to use sections with a solid background color. [Learn more](https://help.switchthemes.co/shapes/style-blocks/shape-divider.html)"
        },
        {
          "type": "select",
          "label": "Target section color scheme",
          "id": "target_section_color_scheme",
          "default": "secondary",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "tertiary",
              "label": "Tertiary"
            },
            {
              "value": "quaternary",
              "label": "Quaternary"
            }
          ],
          "info": "Select the color scheme of the target section"
        },
        {
          "type": "select",
          "label": "Style",
          "id": "style",
          "default": "customshape_1919x170",
          "options": [
            {
              "value": "mountains-1-asymmetrical_1440x293",
              "label": "Mountains 1",
              "group": "Asymmetrical"
            },
            {
              "value": "mountains-2-asymmetrical_1440x325",
              "label": "Mountains 2",
              "group": "Asymmetrical"
            },
            {
              "value": "customshape_1919x170",
              "label": "PYM Shape 1",
              "group": "Asymmetrical"
            },
            {
              "value": "customshape2_1919x120",
              "label": "PYM Shape 2",
              "group": "Asymmetrical"
            },
            {
              "value": "customshape3_1919x130",
              "label": "PYM Shape 3",
              "group": "Asymmetrical"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "flip_horizontal",
          "label": "Flip horizontal"
        },
        {
          "type": "header",
          "content": "Animation"
        },
        {
          "type": "checkbox",
          "id": "enable_animation",
          "label": "Enable animation",
          "info": "Asymmetrical shape dividers will sway when animated."
        },
        {
          "type": "radio",
          "id": "animation_direction",
          "label": "Direction",
          "options": [
            {
              "value": "",
              "label": "Right to left"
            },
            {
              "value": "reverse",
              "label": "Left to right"
            }
          ],
          "default": ""
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured collection"
    }
  ]
}
{% endschema %}
