<section class="relative text-scheme-text bg-scheme-background {% if section.settings.use_gradient_background %}bg-scheme-gradient{% endif %} overflow-hidden" data-color-scheme="{{ section.settings.color_scheme | default: 'primary' }}" >
  
  <div class="section-content relative z-10 py-section-vertical-spacing px-section flex items-center justify-center relative overflow-hidden">
    <div class="mx-auto {{ section.settings.content_width_desktop }} {% if section.settings.display_on_card %}card-container{% endif %}">
      <div class="{% if section.settings.display_on_card %}card p-5 lg:p-10{% endif %} section-content text-center mx-auto relative z-10">
        {%- if section.settings.title != blank -%}
          <h2 class="text-center font-heading heading-effects heading-base heading-style break-words {{ settings.heading_drop_shadow_style }}">
              {{ section.settings.title | escape }}
          </h2>
        {%- endif -%}
        {%- if section.settings.richtext != blank -%}
          <div class="rte text-center font-main mt-2.5 leading-snug">
            {{ section.settings.richtext }}
          </div>
        {%- endif -%}
        <div class="{% if section.settings.title != '' or section.settings.richtext != blank %}section-content-top-margin{% endif %}">
          {% assign form_id = 'customer-form-' | append: section.id %}
          {% form 'customer', id: form_id %}
            {% if form.posted_successfully? %}
              <p class="text-theme-basic" id="Newsletter-success--{{ section.id }}">
                {{ 'general.newsletter_form.confirmation' | t }}
              </p>
            {% endif %}
            {% if form.errors %}
              <p class="text-theme-basic text-scheme-error" id="Newsletter-error--{{ section.id }}">
                {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
              </p>
            {% endif %}
              <div class="lg:flex items-center justify-center">
                <input type="hidden" name="contact[tags]" value="newsletter">
                <label for="NewsletterForm-{{ section.id }}" class="sr-only">
                  {{ 'general.newsletter_form.newsletter_email' | t }}
                </label>
                <div class="w-full lg:mr-2 flex-grow">
                  <input
                    id="NewsletterForm-{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="input-group-field w-full placeholder:text-scheme-text  {% if form.errors %}border-scheme-error{% else %}border-scheme-text{% endif %}"
                    value="{{ form.email }}"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="Newsletter-error--{{ section.id }}"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="Newsletter-success--{{ section.id }}"
                    {% endif %}
                    placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                    required
                  >
                </div>
                <button type="submit" class="push-btn push-btn--pop w-full lg:w-auto mt-2.5 lg:mt-0" name="commit" id="Subscribe-{{ section.id }}">
                  <span class="push-btn-surface w-full">{{ 'general.newsletter_form.submit' | t }}</span>
                </button>
              </div>
          {% endform %}
        </div>
      </div>
      {% if section.settings.display_on_card and settings.card_show_border_on_shadow %}<div class="card-border"></div>{% endif %}
    </div>
  </div>

  {%- liquid
    for block in section.blocks
      case block.type
        when 'background_shape'
          render 'block-background-shape' with block: block, section: section
      endcase
    endfor
  -%}
</section>

{%- liquid
  assign stickers = section.blocks | where: "type", "sticker" 
  assign shape_dividers = section.blocks | where: "type", "shape_divider" 
  for sticker in stickers
    render 'block-sticker' with block: sticker, section: section
  endfor
  for shape_divider in shape_dividers
    render 'block-shape-divider' with block: shape_divider, section: section
  endfor
-%}

{% schema %}
{
  "name": "Newsletter",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Sign up to our newsletter"
    },
    {
      "type": "richtext",
      "id": "richtext",
      "label": "Text",
      "default": "<p>Receive special offers and first look at new products.</p>"
    },
    {
      "type": "paragraph",
      "content": "Customers who subscribe will have their email address added to the “accepts marketing” [customer list](/admin/customers?query=&accepts_marketing=1)."
    },
    {
      "type": "checkbox",
      "id": "display_on_card",
      "label": "Display on card",
      "default": true
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        },
        {
          "value": "tertiary",
          "label": "Tertiary"
        },
        {
          "value": "quaternary",
          "label": "Quaternary"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "use_gradient_background",
      "label": "Use gradient for background"
    }
  ],
  "blocks": [
    {
      "name": "Sticker",
      "type": "sticker",
      "settings": [
        {
          "type": "select",
          "id": "shape",
          "label": "Shape",
          "options": [
            {
              "value": "pym_shape_1",
              "label": "Shape 1",
              "group": "PYM Shapes"
            },
            {
              "value": "pym_shape_2",
              "label": "Shape 2",
              "group": "PYM Shapes"
            },
            {
              "value": "pym_shape_3",
              "label": "Shape 3",
              "group": "PYM Shapes"
            },
            {
              "value": "pym_shape_4",
              "label": "Shape 4",
              "group": "PYM Shapes"
            },
            {
              "value": "pym_shape_5",
              "label": "Shape 5",
              "group": "PYM Shapes"
            },
            {
              "value": "pym_shape_6",
              "label": "Shape 6",
              "group": "PYM Shapes"
            },
            {
              "value": "pym_shape_7",
              "label": "Shape 7",
              "group": "PYM Shapes"
            },
            {
              "value": "pym_shape_8",
              "label": "Shape 8",
              "group": "PYM Shapes"
            },
            {
              "value": "pym_shape_9",
              "label": "Shape 9",
              "group": "PYM Shapes"
            }
          ],
          "default": "pym_shape_1"
        },
        {
          "type": "select",
          "id": "color",
          "label": "Color",
          "default": "bg-scheme-accent text-scheme-accent-overlay",
          "options": [
            {
              "value": "bg-scheme-accent text-scheme-accent-overlay",
              "label": "Black"
            },
            {
              "value": "bg-scheme-accent-2 text-scheme-accent-2-overlay",
              "label": "Cosmic Latte"
            },
            {
              "value": "bg-scheme-accent-3 text-scheme-accent-3-overlay",
              "label": "Peach"
            },
            {
              "value": "bg-scheme-accent-4 text-scheme-accent-4-overlay",
              "label": "Peru"
            },
            {
              "value": "bg-scheme-accent-5 text-scheme-accent-5-overlay",
              "label": "Topaz"
            },
            {
              "value": "bg-scheme-accent-6 text-scheme-accent-6-overlay",
              "label": "Columbia Blue"
            },
            {
              "value": "bg-scheme-accent-7 text-scheme-accent-7-overlay",
              "label": "Iceberg"
            },
            {
              "value": "bg-scheme-accent-8 text-scheme-accent-8-overlay",
              "label": "Sage"
            },
            {
              "value": "bg-scheme-accent-9 text-scheme-accent-9-overlay",
              "label": "Olivine"
            },
            {
              "value": "bg-scheme-accent-10 text-scheme-accent-10-overlay",
              "label": "Olive"
            },
            {
              "value": "bg-scheme-accent-11 text-scheme-accent-11-overlay",
              "label": "Pistachio"
            },
            {
              "value": "bg-scheme-accent-12 text-scheme-accent-12-overlay",
              "label": "Matrix"
            },
            {
              "value": "bg-scheme-accent-13 text-scheme-accent-13-overlay",
              "label": "Dark Salmon"
            },
            {
              "value": "bg-scheme-accent-14 text-scheme-accent-14-overlay",
              "label": "Sundown"
            },
            {
              "value": "bg-scheme-accent-15 text-scheme-accent-15-overlay",
              "label": "Sun Burst"
            },
            {
              "value": "bg-scheme-accent-16 text-scheme-accent-16-overlay",
              "label": "Pale Gold"
            },
            {
              "value": "bg-scheme-accent-17 text-scheme-accent-17-overlay",
              "label": "Flavescent"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "sticker_multiply",
          "label": "Blend Multiply",
          "default": false
        },
        {
          "type": "header",
          "content": "Position"
        },
        {
          "type": "range",
          "id": "width",
          "min": 100,
          "max": 1000,
          "step": 10,
          "unit": "px",
          "label": "Sticker width",
          "default": 150
        },
        {
          "type": "range",
          "id": "horizontal_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Horizontal position",
          "default": 80
        },
        {
          "type": "range",
          "id": "vertical_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Vertical position",
          "default": 80
        },
        {
          "type": "range",
          "id": "rotate",
          "min": -90,
          "max": 90,
          "step": 2,
          "unit": "deg",
          "label": "Rotate",
          "default": 0
        },
        {
          "type": "range",
          "id": "sticker_opacity",
          "min": 0.1,
          "max": 1,
          "step": 0.1,
          "label": "Opacity",
          "default": 1
        },
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "checkbox",
          "id": "show_sticker_on_mobile",
          "label": "Show sticker on mobile",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_sticker_on_desktop",
          "label": "Show sticker on desktop",
          "default": true
        },
        {
          "type": "header",
          "content": "Animation"
        },
        {
          "type": "select",
          "id": "rotation_animation",
          "label": "Rotation",
          "options": [
            {
              "value": "none",
              "label": "No rotation"
            },
            {
              "value": "constantly_rotate",
              "label": "Constantly rotate"
            },
            {
              "value": "rotate_when_scrolling",
              "label": "Rotate only when page is scrolling"
            }
          ],
          "default": "none"
        },
        {
          "type": "checkbox",
          "id": "enable_parallax",
          "label": "Enable parallax",
          "default": false,
          "info": "When enabled stickers will scroll faster than the rest of the page."
        },
        {
          "type": "range",
          "id": "parallax_speed",
          "min": 1,
          "max": 10,
          "step": 1,
          "label": "Parallax speed",
          "default": 3
        },
        {
          "type": "header",
          "content": "Custom image"
        },
        {
          "type": "paragraph",
          "content": "Using an image will override shape and text settings above."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "checkbox",
          "id": "half_image_width_on_mobile",
          "label": "Half image width on mobile",
          "default": true
        }
      ]
    },
    {
      "name": "Shape divider",
      "type": "shape_divider",
      "limit": 2,
      "settings": [
        {
          "type": "radio",
          "label": "Target section",
          "id": "target_section",
          "default": "above",
          "options": [
            {
              "value": "above",
              "label": "Section above"
            },
            {
              "value": "below",
              "label": "Section below"
            }
          ],
          "info": "This will be the section that connects to the straight side of the divider. Best to use sections with a solid background color. [Learn more](https://help.switchthemes.co/shapes/style-blocks/shape-divider.html)"
        },
        {
          "type": "select",
          "label": "Target section color scheme",
          "id": "target_section_color_scheme",
          "default": "secondary",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "tertiary",
              "label": "Tertiary"
            },
            {
              "value": "quaternary",
              "label": "Quaternary"
            }
          ],
          "info": "Select the color scheme of the target section"
        },
        {
          "type": "select",
          "label": "Style",
          "id": "style",
          "default": "large-waves_1200x84",
          "options": [
            {
              "value": "large-waves_1200x84",
              "label": "Large waves",
              "group": "Symmetrical"
            },
            {
              "value": "medium-waves_1200x43",
              "label": "Medium waves",
              "group": "Symmetrical"
            },
            {
              "value": "small-waves_1200x20",
              "label": "Small waves",
              "group": "Symmetrical"
            },
            {
              "value": "large-zig-zag_1200x65",
              "label": "Large zig zag",
              "group": "Symmetrical"
            },
            {
              "value": "medium-zig-zag_1200x37",
              "label": "Medium zig zag",
              "group": "Symmetrical"
            },
            {
              "value": "small-zig-zag_1200x21",
              "label": "Small zig zag",
              "group": "Symmetrical"
            },
            {
              "value": "waves-1-asymmetrical_1440x261",
              "label": "Waves 1",
              "group": "Asymmetrical"
            },
            {
              "value": "waves-2-asymmetrical_1440x330",
              "label": "Waves 2",
              "group": "Asymmetrical"
            },
            {
              "value": "tilt-1-asymmetrical_1440x101",
              "label": "Tilt 1",
              "group": "Asymmetrical"
            },
            {
              "value": "tilt-2-asymmetrical_1440x293",
              "label": "Tilt 2",
              "group": "Asymmetrical"
            },
            {
              "value": "mountains-1-asymmetrical_1440x293",
              "label": "Mountains 1",
              "group": "Asymmetrical"
            },
            {
              "value": "mountains-2-asymmetrical_1440x325",
              "label": "Mountains 2",
              "group": "Asymmetrical"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "flip_horizontal",
          "label": "Flip horizontal"
        },
        {
          "type": "header",
          "content": "Animation"
        },
        {
          "type": "checkbox",
          "id": "enable_animation",
          "label": "Enable animation",
          "info": "Asymmetrical shape dividers will sway when animated."
        },
        {
          "type": "radio",
          "id": "animation_direction",
          "label": "Direction",
          "options": [
            {
              "value": "",
              "label": "Right to left"
            },
            {
              "value": "reverse",
              "label": "Left to right"
            }
          ],
          "default": ""
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Newsletter"
    }
  ]
}
{% endschema %}
