{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign block_heading_level = 'h2'
  assign columns = section.blocks | where: "type", "column"
  assign crop = section.settings.crop 
  assign slideshow_on_mobile = section.settings.slideshow_on_mobile
  assign divisible_by_four =  columns.size | modulo: 4
  assign divisible_by_three =  columns.size | modulo: 3
  assign divisible_by_six =  columns.size | modulo: 6
  if divisible_by_six == 0
    assign col_span = 'lg:col-span-2 col-span-12'
  elsif divisible_by_four == 0
    assign col_span = 'lg:col-span-3'
  elsif divisible_by_three == 0
    assign col_span = 'lg:col-span-4'
  else
    assign col_span = 'lg:col-span-6'
  endif
  assign index_id = 'index-' | append: section.id
-%}

{%- render 'collection-shape-defs',
  shape: section.settings.image_shape,
  section_id: section.id,
  item_count: columns.size
-%}

{%- render 'static-sticker-defs' with shape: section.settings.index_shape, id: index_id -%}
<section class="{{ section.settings.class_section }} relative text-scheme-text bg-scheme-background relative overflow-hidden" style="background-color: {{ section.settings.background-color }}" >

  <div class="section-content relative z-10 section-{{ section.id }}-padding mx-auto {{ section.settings.content_width_desktop }} {% if section.settings.extra_wide %}lg:max-w-site {% else %}lg:max-w-4xl {% endif %}{% if slideshow_on_mobile %}lg:px-section lg:max-w-site lg:mx-auto{% else %}px-section{% endif %}">
    {% if section.settings.title != '' %}
    {%- assign block_heading_level = 'h3' -%}
    <h2 class="text-center font-heading heading-effects heading-base heading-style break-words {{ settings.heading_drop_shadow_style }}">{{ section.settings.title }}</h2>
    {% endif %}

    <div {% if slideshow_on_mobile %}id="slideshow-{{ section.id }}"{% endif %} class="{% if slideshow_on_mobile %}splide{% endif %}  {% if section.settings.title != '' %}section-content-top-margin{% endif %}">
      <div class="{% if slideshow_on_mobile %}splide__track {% if section.settings.display_on_card %}{% if settings.card_shadow_direction contains 'top' %}pt-card-shadow{% else %}pb-card-shadow{% endif %}{% endif %}{% endif %}">
        <ul class="{% if slideshow_on_mobile %}splide__list{% endif %} {% if section.settings.title != '' %}section-content-top-margin{% endif %} {% if slideshow_on_mobile %}lg:grid lg:gap-10{% else %}grid grid-cols-2 gap-5{% endif %} lg:grid-cols-12 ">
          {% for block in columns %}
            <li class="{% if slideshow_on_mobile %}splide__slide w-full lg:w-full{% endif %} relative {{ col_span }}" {% unless block.settings.color_scheme == 'same_as_section' %}data-color-scheme="{{ block.settings.color_scheme }}"{% endunless %} {{ block.shopify_attributes }}>
              <div class="{{ section.settings.text_align }}">
             {%- if block.settings.video_popup -%}
            <a href="{{ block.settings.video_file }}" data-fancybox data-width="360" data-height="640" data-type="html5video"
              data-thumb="{{ block.settings.video_thumbnail }}">
              <img class="card-img-top img-fluid" src="{{ block.settings.thumbnail }}" style="width:100%;height:100%;object-fit:cover;" />
            </a>
             {%- else -%}
                {%- if block.settings.show_image -%}
                  {%- liquid
                    assign shape_id = section.id
                    if section.settings.image_shape == 'blob'
                      assign shape_id = section.id | append: '-' | append: forloop.index0
                    endif
                  -%}
                  {%- if block.settings.image != blank -%}
                  <div class="relative mb-5 {% if settings.media_shadow_direction contains 'top' %}pt-media-shadow{% else %}pb-media-shadow{% endif %}">
                    {%- render 'media-image',
                        media: block.settings.image,
                        shape_id: shape_id,
                        shape: section.settings.image_shape,
                        is_card: section.settings.display_on_card,
                        crop: crop,
                        index: forloop.index0 
                    %}
                  </div>
                  {%- else -%}
                  <div class=" mb-5 {% if settings.media_shadow_direction contains 'top' %}pt-media-shadow{% else %}pb-media-shadow{% endif %}">
                    <div class="relative w-full">
                      {%- render 'media-image-placeholder', shape_id: shape_id, container_id: section.id, index: forloop.index0, shape: section.settings.image_shape, crop: section.settings.crop, is_card: false -%}
                    </div>
                  </div>
                  {%- endif -%}
                {%- endif -%}
            {%- endif -%}
                {% if block.settings.title != '' %}
                <{{ block_heading_level }} class="font-heading {{ block.settings.heading_size }} {% if block.settings.title_uppercase %}uppercase {% endif %}break-words" style="color: {{ block.settings.column-text-color }}">{{ block.settings.title }}</{{ block_heading_level }}>
                {% endif %}
                <div class="{{ block.settings.text_size }} {{ block.settings.text_font }} rte {% if block.settings.title != '' %}mt-2.5{% endif %}">{{ block.settings.text }}</div>
                {% if block.settings.cta_link %}
                <div class="mt-5 relative z-10">
                  <a href="{{ block.settings.cta_link }}" class="inline-block push-btn">
                    <span class="push-btn-surface">{{ block.settings.cta_text }}</span>
                  </a>
                </div>
                {% endif %}
              </div>
              {% if section.settings.display_on_card and settings.card_show_border_on_shadow %}<div class="card-border"></div>{% endif %}
              {%- if section.settings.show_index_on_blocks -%}
              {%- liquid
                assign text = forloop.index
                assign id = 'sticker-' | append: section.id | append: '-' | append: forloop.index
                assign shape = section.settings.index_shape
              -%}
              {%- render 'static-sticker',
                static_id: index_id,
                shape: shape,
                id: id,
                text: text,
                vertical_position: 10,
                horizontal_position: 10,
                rotate: 0,
                width: 80,
                font_size: '3.563594rem',
                color: 'bg-scheme-accent text-scheme-accent-overlay'
              %}
              {%- endif -%}
            </li>
          {% endfor %}
        </ul>
      </div>
      {%- if slideshow_on_mobile -%}
      <div class="splide__arrows flex justify-between items-center mt-5 px-section lg:hidden">
        {%- render 'splide-navigation' -%}
      </div>
      <script class="slideshow-options" type="application/json">
        {
          "mediaQuery": "min",
          "arrows": true,
          "pagination": false,
          "rewind": true,
          "autoWidth": true,
          "gap": "2.5rem",
          "focus": "left",
          "type": "slide",
          "autoScroll": {
            "autoStart": false,
            "speed": {{ section.settings.autoscroll_mode | plus: 0 | json }}
          },
          "padding": {
            "left": "1.25rem",
            "right": "1.25rem"
          },
          "breakpoints": {
            "990": {
              "destroy": "true"
            }
          }
        }
      </script>
      {%- endif -%}
    </div>  
  </div>  

  {%- liquid
    for block in section.blocks
      case block.type
        when 'background_shape'
          render 'block-background-shape' with block: block, section: section
        when 'background_pattern'
          render 'block-background-pattern' with block: block, section: section, scheme: section.settings.color_scheme
      endcase
    endfor
  -%}
</section>

{%- liquid
  assign stickers = section.blocks | where: "type", "sticker" 
  assign shape_dividers = section.blocks | where: "type", "shape_divider" 
  for sticker in stickers
    render 'block-sticker' with block: sticker, section: section
  endfor
  for shape_divider in shape_dividers
    render 'block-shape-divider' with block: shape_divider, section: section
  endfor
-%}

{%- if slideshow_on_mobile -%}
{% unless request.design_mode %}
  <script src="{{ 'modules-slideshow.bundle.min.js' | asset_url }}" type="module"></script>
{% endunless %}
{{ 'modules-slideshow.bundle.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{% schema %}
{
  "name": "Text columns with images",
  "class":"text-col-img",
  "settings": [
     {
          "type": "text",
          "id": "class_section",
          "label": "Custom class"
     },
     {
          "type": "select",
          "id": "background-color",
          "label": "Background Color",
          "options": [
            {
              "value": "#000000",
              "label": "Black"
            },
            {
              "value": "#FFF7E8",
              "label": "Cosmic Latte"
            },
            {
              "value": "#F1D09F",
              "label": "Peach"
            },
            {
              "value": "#DEA46E",
              "label": "Peru"
            },
            {
              "value": "#FFC56D",
              "label": "Topaz"
            },
            {
              "value": "#C5D9E7",
              "label": "Columbia Blue"
            },
            {
              "value": "#7BADD3",
              "label": "Iceberg"
            },
            {
              "value": "#C0CA80",
              "label": "Sage"
            },
            {
              "value": "#A1A468",
              "label": "Olivine"
            },
            {
              "value": "#638C1C",
              "label": "Olive"
            },
            {
              "value": "#999A32",
              "label": "Pistachio"
            },
            {
              "value": "#AE5D57",
              "label": "Matrix"
            },
            {
              "value": "#E99182",
              "label": "Dark Salmon"
            },
            {
              "value": "#F9B7AC",
              "label": "Sundown"
            },
            {
              "value": "#FFC844",
              "label": "Sun Burst"
            },
            {
              "value": "#FDDA64",
              "label": "Pale Gold"
            },
            {
              "value": "#F8DF8D",
              "label": "Flavescent"
            },
             {
              "value": "#DA6655",
              "label": "Pastel Red"
            }
          ],
        "default": "#FFF7E8"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Top Padding",
      "default": 70
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Bottom Padding",
      "default": 70
    },
    {
      "type": "select",
      "id": "content_width_desktop",
      "label": "Content width on desktop",
      "default": "lg:w-2/3",
      "options": [
        {
          "value": "lg:w-1/3",
          "label": "One third"
        },
        {
          "value": "lg:w-1/2",
          "label": "One half"
        },
        {
          "value": "lg:w-2/3",
          "label": "Two thirds"
        },
        {
          "value": "lg:w-3/4",
          "label": "Three fourths"
        },
        {
          "value": "lg:w-full",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "extra_wide",
      "label": "Bypass Site Width Restrictions",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "slideshow_on_mobile",
      "label": "Slideshow on mobile",
      "default": false
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text Align",
      "default": "text-center",
      "options": [
        {
          "value": "text-left",
          "label": "Left Align"
        },
        {
          "value": "text-center",
          "label": "Center Align"
        },
        {
          "value": "text-right",
          "label": "Right Align"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "crop",
      "label": "Crop images",
      "options": [
        {
          "value": "",
          "label": "No crop"
        },
        {
          "value": "aspect-w-4 aspect-h-3",
          "label": "Landscape"
        },
        {
          "value": "aspect-w-1 aspect-h-1",
          "label": "Square"
        },
        {
          "value": "aspect-w-3 aspect-h-4",
          "label": "Portrait"
        }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "image_shape",
      "label": "Default image shape",
      "options": [
        {
          "value": "default",
          "label": "Default",
          "group": "Fit to image"
        },
        {
          "value": "default_ellipse",
          "label": "Ellipse",
          "group": "Fit to image"
        },
        {
          "value": "default_pill",
          "label": "Pill",
          "group": "Fit to image"
        },
        {
          "value": "blob",
          "label": "Blob",
          "group": "Miscellaneous"
        }
      ]
    },
    {
      "type": "select",
      "id": "index_shape",
      "label": "Index shape",
      "options": [
        {
          "value": "circle",
          "label": "Circle",
          "group": "Circular"
        },
        {
          "value": "star_1",
          "label": "Star 1",
          "group": "Circular"
        },
        {
          "value": "star_2",
          "label": "Star 2",
          "group": "Circular"
        },
        {
          "value": "star_3",
          "label": "Star 3",
          "group": "Circular"
        },
        {
          "value": "star_4",
          "label": "Star 4",
          "group": "Circular"
        },
        {
          "value": "scalloped_circle_1",
          "label": "Scalloped circle 1",
          "group": "Circular"
        },
        {
          "value": "scalloped_circle_2",
          "label": "Scalloped circle 2",
          "group": "Circular"
        },
        {
          "value": "scalloped_circle_3",
          "label": "Scalloped circle 3",
          "group": "Circular"
        },
        {
          "value": "scalloped_circle_4",
          "label": "Scalloped circle 4",
          "group": "Circular"
        },
        {
          "value": "parallelogram",
          "label": "Parallelogram",
          "group": "Square"
        },
        {
          "value": "scalloped_square",
          "label": "Scalloped",
          "group": "Square"
        },
        {
          "value": "leaf",
          "label": "Leaf",
          "group": "Square"
        },
        {
          "value": "clipped_square",
          "label": "Clipped",
          "group": "Square"
        },
        {
          "value": "convex_square",
          "label": "Convex",
          "group": "Square"
        },
        {
          "value": "twisted_square",
          "label": "Twisted",
          "group": "Square"
        },
        {
          "value": "trapeze",
          "label": "Trapeze",
          "group": "Square"
        }
      ],
      "default": "star_1"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "limit": 8,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_image",
          "label": "Show image",
          "default": true
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
      "type": "select",
      "id": "heading_size",
      "label": "Title Size",
      "options": [
        {
          "value": "text-sm",
          "label": "Small"
        },
        {
          "value": "text-base",
          "label": "Medium"
        },
        {
          "value": "text-lg",
          "label": "Large"
        },
        {
          "value": "text-xl",
          "label": "XL"
        },
        {
          "value": "text-2xl",
          "label": "2XL"
        },
        {
          "value": "heading-base",
          "label": "Base"
        },
        {
          "value": "heading-template",
          "label": "Template"
        }
          ],
          "default": "text-base"
        },
        {
          "type": "select",
          "id": "column-text-color",
          "label": "Text Color",
          "options": [
            {
              "value": "#000000",
              "label": "Black"
            },
            {
              "value": "#FFF7E8",
              "label": "Cosmic Latte"
            },
            {
              "value": "#F1D09F",
              "label": "Peach"
            },
            {
              "value": "#DEA46E",
              "label": "Peru"
            },
            {
              "value": "#FFC56D",
              "label": "Topaz"
            },
            {
              "value": "#C5D9E7",
              "label": "Columbia Blue"
            },
            {
              "value": "#7BADD3",
              "label": "Iceberg"
            },
            {
              "value": "#C0CA80",
              "label": "Sage"
            },
            {
              "value": "#A1A468",
              "label": "Olivine"
            },
            {
              "value": "#638C1C",
              "label": "Olive"
            },
            {
              "value": "#999A32",
              "label": "Pistachio"
            },
            {
              "value": "#AE5D57",
              "label": "Matrix"
            },
            {
              "value": "#E99182",
              "label": "Dark Salmon"
            },
            {
              "value": "#F9B7AC",
              "label": "Sundown"
            },
            {
              "value": "#FFC844",
              "label": "Sun Burst"
            },
            {
              "value": "#FDDA64",
              "label": "Pale Gold"
            },
            {
              "value": "#F8DF8D",
              "label": "Flavescent"
            }
          ],
      "default": "#000000"
    },
        {
          "type": "checkbox",
          "id": "title_uppercase",
          "label": "Uppercase"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
      "type": "select",
      "id": "text_size",
      "label": "Text Size",
      "options": [
        {
          "value": "text-sm",
          "label": "Small"
        },
        {
          "value": "text-base",
          "label": "Medium"
        },
        {
          "value": "text-lg",
          "label": "Large"
        },
        {
          "value": "text-xl",
          "label": "XL"
        },
        {
          "value": "text-2xl",
          "label": "2XL"
        },
        {
          "value": "heading-base",
          "label": "Base"
        },
        {
          "value": "heading-template",
          "label": "Template"
        }
      ],
      "default": "text-base"
    },
        {
      "type": "radio",
      "id": "text_font",
      "label": "Text font",
      "options": [
        {
            "value": "font-main",
            "label": "Creo Light"
          },
          {
            "value": "font-heading",
            "label": "Creo Bold"
          },
          {
            "value": "font-accent",
            "label": "Auger Mono"
          }
      ],
      "default": "font-main"
    },
        {
          "type": "header",
          "content": "Call to action"
        },
        {
          "type": "url",
          "id": "cta_link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "Text"
        },
        {
          "type": "header",
          "content": "Color"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "label": "Scheme",
          "default": "same_as_section",
          "options": [
            {
              "value": "same_as_section",
              "label": "Same as section"
            },
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "tertiary",
              "label": "Tertiary"
            },
            {
              "value": "quaternary",
              "label": "Quaternary"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "video_popup",
          "label": "Video Popup"
        },
        {
          "type": "image_picker",
          "id": "video_thumb",
          "label": "Video thumbnail"
        },
        {
          "type": "text",
          "id": "video_file",
          "label": "Video File"
        }
      ]
    },
    {
      "name": "Sticker",
      "type": "sticker",
      "settings": [
        {
          "type": "select",
          "id": "shape",
          "label": "Shape",
          "options": [
            {
              "value": "pym_shape_1",
              "label": "Shape 1",
              "group": "PYM Shapes"
            },
            {
              "value": "pym_shape_2",
              "label": "Shape 2",
              "group": "PYM Shapes"
            },
            {
              "value": "pym_shape_3",
              "label": "Shape 3",
              "group": "PYM Shapes"
            },
            {
              "value": "pym_shape_4",
              "label": "Shape 4",
              "group": "PYM Shapes"
            },
            {
              "value": "pym_shape_5",
              "label": "Shape 5",
              "group": "PYM Shapes"
            },
            {
              "value": "pym_shape_6",
              "label": "Shape 6",
              "group": "PYM Shapes"
            },
            {
              "value": "pym_shape_7",
              "label": "Shape 7",
              "group": "PYM Shapes"
            },
            {
              "value": "pym_shape_8",
              "label": "Shape 8",
              "group": "PYM Shapes"
            },
            {
              "value": "pym_shape_9",
              "label": "Shape 9",
              "group": "PYM Shapes"
            }
          ],
          "default": "pym_shape_1"
        },
        {
          "type": "select",
          "id": "color",
          "label": "Color",
          "default": "bg-scheme-accent text-scheme-accent-overlay",
          "options": [
            {
              "value": "bg-scheme-accent text-scheme-accent-overlay",
              "label": "Black"
            },
            {
              "value": "bg-scheme-accent-2 text-scheme-accent-2-overlay",
              "label": "Cosmic Latte"
            },
            {
              "value": "bg-scheme-accent-3 text-scheme-accent-3-overlay",
              "label": "Peach"
            },
            {
              "value": "bg-scheme-accent-4 text-scheme-accent-4-overlay",
              "label": "Peru"
            },
            {
              "value": "bg-scheme-accent-5 text-scheme-accent-5-overlay",
              "label": "Topaz"
            },
            {
              "value": "bg-scheme-accent-6 text-scheme-accent-6-overlay",
              "label": "Columbia Blue"
            },
            {
              "value": "bg-scheme-accent-7 text-scheme-accent-7-overlay",
              "label": "Iceberg"
            },
            {
              "value": "bg-scheme-accent-8 text-scheme-accent-8-overlay",
              "label": "Sage"
            },
            {
              "value": "bg-scheme-accent-9 text-scheme-accent-9-overlay",
              "label": "Olivine"
            },
            {
              "value": "bg-scheme-accent-10 text-scheme-accent-10-overlay",
              "label": "Olive"
            },
            {
              "value": "bg-scheme-accent-11 text-scheme-accent-11-overlay",
              "label": "Pistachio"
            },
            {
              "value": "bg-scheme-accent-12 text-scheme-accent-12-overlay",
              "label": "Matrix"
            },
            {
              "value": "bg-scheme-accent-13 text-scheme-accent-13-overlay",
              "label": "Dark Salmon"
            },
            {
              "value": "bg-scheme-accent-14 text-scheme-accent-14-overlay",
              "label": "Sundown"
            },
            {
              "value": "bg-scheme-accent-15 text-scheme-accent-15-overlay",
              "label": "Sun Burst"
            },
            {
              "value": "bg-scheme-accent-16 text-scheme-accent-16-overlay",
              "label": "Pale Gold"
            },
            {
              "value": "bg-scheme-accent-17 text-scheme-accent-17-overlay",
              "label": "Flavescent"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "sticker_multiply",
          "label": "Blend Multiply",
          "default": false
        },
        {
          "type": "header",
          "content": "Position"
        },
        {
          "type": "range",
          "id": "width",
          "min": 100,
          "max": 1000,
          "step": 10,
          "unit": "px",
          "label": "Sticker width",
          "default": 150
        },
        {
          "type": "range",
          "id": "horizontal_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Horizontal position",
          "default": 80
        },
        {
          "type": "range",
          "id": "vertical_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Vertical position",
          "default": 80
        },
        {
          "type": "range",
          "id": "rotate",
          "min": -90,
          "max": 90,
          "step": 2,
          "unit": "deg",
          "label": "Rotate",
          "default": 0
        },
        {
          "type": "range",
          "id": "sticker_opacity",
          "min": 0.1,
          "max": 1,
          "step": 0.1,
          "label": "Opacity",
          "default": 1
        },
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "checkbox",
          "id": "show_sticker_on_mobile",
          "label": "Show sticker on mobile",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_sticker_on_desktop",
          "label": "Show sticker on desktop",
          "default": true
        },
        {
          "type": "header",
          "content": "Animation"
        },
        {
          "type": "select",
          "id": "rotation_animation",
          "label": "Rotation",
          "options": [
            {
              "value": "none",
              "label": "No rotation"
            },
            {
              "value": "constantly_rotate",
              "label": "Constantly rotate"
            },
            {
              "value": "rotate_when_scrolling",
              "label": "Rotate only when page is scrolling"
            }
          ],
          "default": "none"
        },
        {
          "type": "checkbox",
          "id": "enable_parallax",
          "label": "Enable parallax",
          "default": false,
          "info": "When enabled stickers will scroll faster than the rest of the page."
        },
        {
          "type": "range",
          "id": "parallax_speed",
          "min": 1,
          "max": 10,
          "step": 1,
          "label": "Parallax speed",
          "default": 3
        },
        {
          "type": "header",
          "content": "Custom image"
        },
        {
          "type": "paragraph",
          "content": "Using an image will override shape and text settings above."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "checkbox",
          "id": "half_image_width_on_mobile",
          "label": "Half image width on mobile",
          "default": true
        }
      ]
    },
    {
      "name": "Shape divider",
      "type": "shape_divider",
      "limit": 2,
      "settings": [
        {
          "type": "radio",
          "label": "Target section",
          "id": "target_section",
          "default": "above",
          "options": [
            {
              "value": "above",
              "label": "Section above"
            },
            {
              "value": "below",
              "label": "Section below"
            }
          ],
          "info": "This will be the section that connects to the straight side of the divider. Best to use sections with a solid background color. [Learn more](https://help.switchthemes.co/shapes/style-blocks/shape-divider.html)"
        },
        {
          "type": "select",
          "label": "Target section color scheme",
          "id": "target_section_color_scheme",
          "default": "secondary",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "tertiary",
              "label": "Tertiary"
            },
            {
              "value": "quaternary",
              "label": "Quaternary"
            }
          ],
          "info": "Select the color scheme of the target section"
        },
        {
          "type": "select",
          "label": "Style",
          "id": "style",
          "default": "customshape_1919x170",
          "options": [
            {
              "value": "mountains-1-asymmetrical_1440x293",
              "label": "Mountains 1",
              "group": "Asymmetrical"
            },
            {
              "value": "mountains-2-asymmetrical_1440x325",
              "label": "Mountains 2",
              "group": "Asymmetrical"
            },
            {
              "value": "customshape_1919x170",
              "label": "PYM Shape 1",
              "group": "Asymmetrical"
            },
            {
              "value": "customshape2_1919x120",
              "label": "PYM Shape 2",
              "group": "Asymmetrical"
            },
            {
              "value": "customshape3_1919x130",
              "label": "PYM Shape 3",
              "group": "Asymmetrical"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "flip_horizontal",
          "label": "Flip horizontal"
        },
        {
          "type": "header",
          "content": "Animation"
        },
        {
          "type": "checkbox",
          "id": "enable_animation",
          "label": "Enable animation",
          "info": "Asymmetrical shape dividers will sway when animated."
        },
        {
          "type": "radio",
          "id": "animation_direction",
          "label": "Direction",
          "options": [
            {
              "value": "",
              "label": "Right to left"
            },
            {
              "value": "reverse",
              "label": "Left to right"
            }
          ],
          "default": ""
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text columns with images",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
